<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/4edf4a3d-08ee-4da3-9a16-2719daac491a/resourcegroups/escolaTeste/providers/Microsoft.Web/sites/Escola20220702142845</ResourceId>
    <ResourceGroup>escolaTeste</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://escola20220702142845.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6a1e3e72-131b-4955-9857-3de12f780733</ProjectGuid>
    <PublishUrl>https://escola20220702142845.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Escola20220702142845</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>